@page
@model CreateCity

@{
}

<form method="post">
    <div>
        <label for="cityName">Nome da Cidade:</label>
        <input type="text" id="cityName" asp-for="Input!.CityName"/>
        <span asp-validation-for="Input.CityName" class="text-danger"></span>
    </div>
    <button type="submit">Criar Cidade</button>
</form>

@if (!string.IsNullOrEmpty(Model.CityName))
{
    <strong>Cidade Criada:</strong>
    <p>@Model.CityName</p>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}